<!DOCTYPE html>
<html>
<head>
    <title>LLM Stream</title>
</head>
<body>
    <div id="llm-output"></div>

    <script>
        // JavaScript to handle the SSE connection and update the webpage
        const outputDiv = document.getElementById('llm-output');
        const queryParams = new URLSearchParams(window.location.search).toString();
        const eventSource = new EventSource(`/qa/simple?${queryParams}`);

        eventSource.onmessage = function(evt) {
            console.log(evt.data)
            // Append each new message to the output div
            outputDiv.innerHTML += `${evt.data}`;
        };

        eventSource.onerror = function(error) {
            console.error("EventSource failed:", error);
        };
    </script>
</body>
</html>
